# Server Configuration
PORT=5000

# Torox Offerwall Config
TOROX_SECRET_KEY=your_torox_secret_key_here

# Notik.me Offerwall Config
NOTIK_SECRET_KEY=your_notik_secret_key_here

# ayeT-Studios Offerwall Config
AYET_API_KEY=your_ayet_api_key_here

# CPX Research Survey Config
CPX_APP_ID=your_cpx_app_id_here
CPX_SECRET_KEY=your_cpx_secret_key_here
